<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="20"
    android:versionName="2.0"
    package="com.weiguan.kejian" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />;
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".WebActivity"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".SettingActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".AboutActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".SearchActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".TestActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".AdviceActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".RegistActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".SetUserPicActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".ForgetPWActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".ResetPWActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".UserCenterActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".ModifyInfoActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".SaftySettingActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".VerifyOldTelActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".SetNewTelActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".ModifyPasswordActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".CommentListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".UserCommentActivity"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".MyFavouriteActivity"
            android:theme="@style/MyTheme"></activity>
        <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.weiguan.kejian.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:label="PushService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.weiguan.kejian.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.weiguan.kejian.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- Umeng的消息接收服务 -->
        <service android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:process=":push"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action"/>
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- V2.5.0添加的Service，用于本地通知 -->
        <!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
        <service android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56a09ddf67e58edcf2001af3" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="20d7d2038633d0810d9e16bb2cafe739" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data android:name="BaiduMobAd_STAT_ID" android:value="566c73cd2e" /> <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data android:name="BaiduMobAd_CHANNEL" android:value="91" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
         <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="24" />
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data android:name="BaiduMobAd_ONLY_WIFI" android:value="true" />
        <!-- 是否获取基站位置信息 ,默认为true-->
        <meta-data android:name="BaiduMobAd_CELL_LOCATION" android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data android:name="BaiduMobAd_GPS_LOCATION" android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data android:name="BaiduMobAd_WIFI_LOCATION" android:value="true" />
    </application>

</manifest>
